@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "frontend_variables";

@import "frontend_custom";

@import "../vendors/fontawesome-free/css/all.min.css";