@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../vendors/fontawesome-free/css/all.min.css";

@import "../vendors/coreui/scss/style.scss";

@import "frontend_variables";

@import "frontend_custom";