::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
}

::-webkit-scrollbar-track {
    background-color: #e4e7eb;
}

// a link
a {
  text-decoration: none !important;
}

// collapse.show
.collapse.show {
  visibility: visible;
}

/**
 * Sidebar
 */
.sidebar-nav::-webkit-scrollbar {
  width: 8px;
}

.sidebar-nav::-webkit-scrollbar-track {
  background-color: rgba(44, 56, 74, .65);
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: rgba(35, 45, 60, .95);
}

.sidebar-nav .nav-group-items .nav-link .nav-icon {
  margin-left: calc(var(--cui-sidebar-nav-icon-width) * -0.65);
}

.sidebar-nav .nav-group-items .nav-link .nav-icon:before {
  font-size: 80%;
}

/**
 * wrapper
 */
.wrapper {
  width: 100%;
  padding-left: var(--cui-sidebar-occupy-start, 0);
  will-change: auto;
  transition: padding .15s;
}

// select2
.select2-container--default .select2-selection--multiple {
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 22px;
  margin: 6px;
}

// border-radius
.border-radius-t-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-radius-b-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-radius-l-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-radius-r-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-radius-tl-0 {
  border-top-left-radius: 0;
}

.border-radius-tr-0 {
  border-top-right-radius: 0;
}

.border-radius-bl-0 {
  border-bottom-left-radius: 0;
}

.border-radius-br-0 {
  border-bottom-right-radius: 0;
}

.relative {
  position: relative;
}

.inline-flex {
  display: inline-flex;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.z-0 {
  z-index: 0;
}

.rounded-md {
  border-radius: .375rem;
}

.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .sm\:static {
      position:static
  }

  .sm\:block {
      display: block
  }

  .sm\:inline {
      display: inline
  }

  .sm\:flex {
      display: flex
  }

  .sm\:grid {
      display: grid
  }

  .sm\:hidden {
      display: none
  }

  .sm\:w-auto {
      width: auto
  }

  .sm\:max-w-md {
      max-width: 28rem
  }

  .sm\:flex-1 {
      flex: 1 1 0%
  }

  .sm\:flex-row {
      flex-direction: row
  }

  .sm\:items-center {
      align-items: center
  }

  .sm\:items-stretch {
      align-items: stretch
  }

  .sm\:justify-start {
      justify-content: flex-start
  }

  .sm\:justify-center {
      justify-content: center
  }

  .sm\:justify-between {
      justify-content: space-between
  }

  .sm\:rounded-lg {
      border-radius: .5rem
  }

  .sm\:align-middle {
      vertical-align: middle
  }

  .sm\:text-base {
      font-size: 1rem;
      line-height: 1.5rem
  }

  .sm\:text-sm {
      font-size: .875rem;
      line-height: 1.25rem
  }
}

@media (min-width: 768px) {
  .md\:grid {
      display: grid
  }

  .md\:w-1\/2 {
      width: 50%
  }

  .md\:flex-row {
      flex-direction: row
  }

  .md\:items-start {
      align-items: flex-start
  }

  .md\:text-left {
      text-align: left
  }
}

@media (min-width: 1024px) {

}